.card {
    width: 100%;
    border-radius: 12px;
    padding: 1rem;
    min-height: 3rem;
  }
  
  .card-grey {
    background-color: #f0f0f0;
  }

  .card-black {
    background-color: black;
    color: var(--white);
  }