.header {
    width: 100vw;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 2rem;
    padding: 0 1rem; */
}

.navbar-button {
    border: none;
    display: flex;
    justify-content: end;
    width: min-content;
} 

.logo-navbar {
    width: 3rem;
}

.header h1 {
    align-self: center;
    font-weight: 700;
    font-size: 24px;
}

/* Desktop */
@media screen and (min-width: 780px) {
    header {
        max-width: 380px;
    }
    
}

