.Login {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 20vh 2rem 1vh 2rem;
}

.worldcoin-icon {
    width: 1.5rem;
}