.form-name, .form-text-button {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.form-name > label {
    width: 40%;
}

.form-text-select {
    width: 100%;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.75rem;
}

.form-text-select > select {
    width: 100%;
}

.form-select-wide {
    width: 100%;
}
