.onboarding {
    min-height: 70svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;

}

.onboarding-title {
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.skip-link {
        color: #838485;
        font-size: 14px;
        line-height: 23px;
        text-align: right;     
        justify-self: flex-end;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.rates-grid {
    display: grid;
    grid-template-columns: 10% 40% 30%;
    grid-template-rows: 16px repeat(3, 35px);
    gap: 1rem;
    padding-bottom: 2.5rem;
}

.rates-headline {
    grid-column: 1/4;
    text-align: end;
}

.location-search {
    width: 100%;
}

.location-input {
margin-bottom: 0;
}

.location-autocomplete-results {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
}

.location-autocomplete-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.location-autocomplete-results li {
    padding: 0.5rem;
    line-height: 1.5rem;
}

.location-autocomplete-results li:hover {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}