.transaction-card {
    text-wrap: wrap;
    word-wrap: break-word;
    width: 100%;
}

.transaction-card-section {
    width: 100%;
    background-color: var(--grey);
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem 0;
}

.transaction-card-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.transaction-card-title > button {
    height: 28px;
    width: 50%;
    font-size: 0.75rem;
}